
<!-- PROJECTS -->

<section id="projects" class="two">
  <div class="container">

    <header>
      <h2>Projects</h2>
    </header>

    <div class="row">
      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="http://edem-project.com" class="image fit"><img src="images/projects/cover/edem-cover.jpg" alt="" /></a>
          <header>
            <h3>EDEM</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/coresolution.html" class="image fit"><img src="images/projects/cover/coresolution-cover.jpg" alt="" /></a>
          <header>
            <h3>CoreSolution</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/asterion.html" class="image fit"><img src="images/projects/cover/asterion-cover.jpg" alt="" /></a>
          <!-- images/projects/asterion-cascade.png -->
          <header>
            <h3>Asterion</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/icysplines.html" class="image fit"><img src="images/projects/cover/icysplines-cover.jpg" alt="" /></a>
          <header>
            <h3>IcySplines</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/space-elevator.html" class="image fit"><img src="images/projects/cover/se-cover.jpg" alt="" /></a>
          <header>
            <h3>Space Elevator</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/ClarkeLib.html" class="image fit"><img src="images/projects/cover/clarkelib-cover.jpg" alt="" /></a>
          <header>
            <h3>ClarkeLib</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/thunderbat.html" class="image fit"><img src="images/projects/cover/thunderbat-cover.jpg" alt="" /></a>
          <header>
            <h3>Thunderbat</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/racrosser.html" class="image fit"><img src="images/projects/cover/racrosser-cover.jpg" alt="" /></a>
          <header>
            <h3>RACROSSER</h3>
          </header>
        </article>
      </div>

      <div class="4u 6u$(narrower) 12u$(mobile)" id="pcover">
        <article class="item">
          <a href="{{site.url}}{{site.baseurl}}projects/stribog.html" class="image fit"><img src="images/projects/cover/stribog-cover.jpg" alt="" /></a>
          <header>
            <h3>Stribog</h3>
          </header>
        </article>
      </div>
    </div>

  </div>
</section>