<!-- SKILLS -->

<div class="profile-section">
  <h2> SKILLS </h2>

  <div class="skillset">        
  <!-- <div class="skitem"> -->
    <h3 class="skillset"> Programming </h3>
    <table style="width:100%;">

      <tr class="skitem">
        <td class="skill-text">
          <!-- <h3 class="level-title">Python, Cython, NumPy, SciPy, Scikit-learn, Pandas</h3> -->
          <h3 class="level-title">Scientific Programming</h3>
          <p>Python, NumPy, SciPy, Cython</p>
        </td>

        <td>
          <h3><div class="level-bar">
            <div class="level-bar-inner" style="width: 95%;"></div>                                
          </div></h3>
        </td>
      </tr>

      <tr class="skitem">
        <td class="skill-text">
          <h3 class="level-title">Data Analysis &amp; Machine Learning</h3>
          <p>Pandas, Scikit-learn, Apache Hadoop, Apache Spark</p>
        </td>

        <td>
          <h3><div class="level-bar">
            <div class="level-bar-inner" style="width: 70%;"></div>                                
          </div></h3>
        </td>
      </tr>

      <tr class="skitem">
        <td class="skill-text">
          <h3 class="level-title">Data Visualization &amp; UI</h3>
          <p>Matplotlib, OpenGL, Qt</p>
        </td>

        <td>
          <h3><div class="level-bar">
            <div class="level-bar-inner" style="width: 80%;"></div>                                
          </div></h3>
        </td>
      </tr>

      <tr class="skitem">
        <td class="skill-text">
          <h3 class="level-title">Web Development</h3>
          <p>Django, SQL, HTML, CSS, JavaScript</p>
        </td>

        <td>
          <h3><div class="level-bar">
            <div class="level-bar-inner" style="width: 75%;"></div>                                
          </div></h3>
        </td>
      </tr>

    </table> 

    <h3 class="skillset"> Engineering </h3>
    <table style="width:100%;">

      <tr class="skitem">
          <td class="skill-text">
            <h3 class="level-title">Computer Math</h3>
            <p>Maple, SageMath</p>
          </td>

          <td>
            <h3><div class="level-bar">
              <div class="level-bar-inner" style="width: 85%;"></div>                                
            </div></h3>
          </td>
      </tr>

      <tr class="skitem">
          <td class="skill-text">
            <h3 class="level-title">Computer-aided design</h3>
            <p>Siemens NX, SolidWorks, Autodesk Inventor</p>
          </td>

          <td>
            <h3><div class="level-bar">
              <div class="level-bar-inner" style="width: 95%;"></div>                                
            </div></h3>
          </td>
      </tr>

      <tr class="skitem">
          <td class="skill-text">
            <h3 class="level-title">Computer-aided Engineering</h3>
            <p>NX Nastran, COMSOL Multiphysics, CST Microwave Studio</p>
          </td>

          <td>
            <h3><div class="level-bar">
              <div class="level-bar-inner" style="width: 80%;"></div>                                
            </div></h3>
          </td>
      </tr>

    </table> 

    <h3 class="skillset"> Graphic Design </h3>
    <table style="width:100%;">

      <tr class="skitem">
          <td class="skill-text">
            <h3 class="level-title">Vector &amp; Raster 2D Graphics</h3>
            <p>Inkscape, CorelDRAW, Corel PHOTO-PAINT, Gimp</p>
          </td>

          <td>
            <h3><div class="level-bar">
              <div class="level-bar-inner" style="width: 85%;"></div>                                
            </div></h3>
          </td>
      </tr>

      <tr class="skitem">
          <td class="skill-text">
            <h3 class="level-title">3D Graphics</h3>
            <p>Autodesk 3ds Max</p>
          </td>

          <td>
            <h3><div class="level-bar">
              <div class="level-bar-inner" style="width: 75%;"></div>                                
            </div></h3>
          </td>
      </tr>

    </table> 

  </div>
</div>

