

<div class="footer-cap">
    <img src="{{page.root}}images/footer-cap.png" id="footer-cap" />
</div>


<div class="footer-cap">
  <div class="image">
    <img src="{{page.root}}images/alien_darkblue.png" id="footer-avatar" />
  </div>
</div>



<div id="bluefooter">
<p>{{ site.time | date: '%Y' }} &copy; {{site.author.name}}</p>
</div>









<!-- <div class="newfoot"> -->

<!-- <p>FFF</p> -->


<!--   <table>
    <tr>
      <td>
        <img src="images/alien_darkblue.png" id="avatar80x" />
      </td>

      <td style="text-align: right; padding-top: 1px;">
        <p>{{ site.time | date: '%Y' }} &copy; {{site.author.name}}</p>
      </td>
    </tr>
  </table> -->



<!-- </div> -->

<!--     <div class="avatar-footer">
      <div class="image avatar80">
        <img src="images/alien_darkblue.png" id="avatar80x" />
      </div>
    </div> -->

    <!-- style="position:absolute; bottom: 0;" -->

<!--       <div class="image avatar80">
        <img src="images/alien-hexa.png" />
      </div> -->


    <!-- style="margin-left: 300px; margin-top: -68px; padding-top: 50px;" -->

    <!-- <span class="image avatar48"><img src="images/alien-hexa.png"/></span> -->
<!--     <section>
    <div class="container">
    lolo
    </div>
    </section> -->

<!-- <div id="footer"> -->


<!--     <div class="container">

      <form method="post" action="#">
        <div class="row">
        
          <div class="6u 12u$(mobile)">
            <textarea name="message" placeholder="Message"></textarea>
          </div>

          <div class="6u 12u$(mobile)">
          <input type="text" name="name" placeholder="Name" />
          <input type="text" name="email" placeholder="Email" />
          <input type="submit" value="Send Message" />
          </div>

        </div>
      </form>

    </div> -->
    <!-- <br> -->
<!-- <hr id="blueline"> -->
  <!-- <span class="image avatar48"><img src="images/alien-hexa.png"/></span> -->
  <!-- Copyright -->
  <!-- <div class="copyright"> -->
  <!-- <h3>VP</h3> -->
  <!-- <p>BBB</p> -->
  <!-- <h3>VP</h3> -->
  <!-- </div> -->


<!--   <table>
    <tr>
      <td>
        <img src="images/alien_darkblue.png" id="avatar80x" />
      </td>

      <td style="text-align: left;">
        <p>{{ site.time | date: '%Y' }} &copy; {{site.author.name}}</p>
      </td>
    </tr>
  </table> -->

<!--   <table>
    <tr>
      <td style="text-align: right;">
        <p>{{ site.time | date: '%Y' }}</p>
      </td>

      <td>
        <img src="images/alien_darkblue.png" id="avatar80x" />
      </td>

      <td style="text-align: left;">
        <p>{{site.author.name}}</p>
      </td>
    </tr>
  </table> -->

<!--   <div style="margin-left: 300px;">
    <ul class="copyright">
      <li>{{ site.time | date: '%Y' }} &copy; {{site.author.name}}</li>
      <li><img src="images/alien_darkblue.png" id="avatar80x" /></li>
      <li>{{site.email }}</li>
    </ul>
  </div> -->


<!-- </div> -->


<!--     <div class="avatar-footer">
      <div class="image avatar80">
        <img src="images/alien_darkblue.png" id="avatar80x" />
      </div>
    </div> -->

<!-- Scripts -->
<script src="{{page.root}}assets/js/jquery.min.js"></script>
<script src="{{page.root}}assets/js/jquery.scrolly.min.js"></script>
<script src="{{page.root}}assets/js/jquery.scrollzer.min.js"></script>
<script src="{{page.root}}assets/js/skel.min.js"></script>
<script src="{{page.root}}assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{page.root}}assets/js/main.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

<script>
  $.validate({
    lang: 'en'
  });
</script>
