

<div class="footer-cap">
    <img src="{{site.url}}{{site.baseurl}}images/footer-cap.png" id="footer-cap" />
</div>


<div class="footer-cap">
  <div class="image">
    <img src="{{site.url}}{{site.baseurl}}images/alien_darkblue.png" id="footer-avatar" />
  </div>
</div>



<div id="bluefooter">
<p>{{ site.time | date: '%Y' }} &copy; {{site.author.name}}</p>
</div>


<!-- Scripts -->

<script src="{{site.url}}{{site.baseurl}}assets/js/jquery.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}assets/js/jquery.scrolly.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}assets/js/jquery.scrollzer.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}assets/js/skel.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{site.url}}{{site.baseurl}}assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{site.url}}{{site.baseurl}}assets/js/main.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


<script>
  $.validate({
    lang: 'en'
  });
</script>
